<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<link rel="stylesheet"
type="text/css"href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<head>
<meta charset="utf-8">
<title>Ajout des Medicaments</title>
</head>
<body>
<div th:replace="template"></div>
<div class="container mt-5">
	<div class="card">
	 <div class="card-header" th:if="${mode=='new'}"> Ajout des medicaments </div>
	<div class="card-header" th:if="${mode=='edit'}">Modification des Produits </div>
	<div class="card-body">
		<div class="form-group">
		<label class="control-label">Categorie :</label>
		<select name="categorie" class="form-control"
		th:value="${produit.categorie.idCat}"
		th:if="${!#strings.isEmpty(produit.categorie)}" >
		<option th:each="c:${categories}" th:if="${mode=='edit'}"
		 th:value="${c.idCat}" th:text="${c.nomCat}"
		 th:selected="${ c.idCat==produit.categorie.idCat}">
		</option>
		</select>
		<!-- s'il s'agit d'un ajout (mode==new) ou d'une modification d'un produit ayant une catégorie null -->
		<select name="categorie" class="form-control"
		th:if="${#strings.isEmpty(produit.categorie)}">
		<option th:each="c:${categories}" th:value="${c.idCat}"
		th:text="${c.nomCat}">
		</option>
		</select>
		</div>
	 
 <div class="form-group">
<label class="control-label">Prix Medicament :</label>
<input type="text" name="prixMedicament" class="form-control" />
 </div>
 <div class="form-group">
 <label class="control-label">date création :</label>
<input type="date" name="dateCreation" class="form-control" />
 </div>
 <div>
 <button type="submit" class="btn btn-primary">Valider</button>
 </div>
 </form>
</div>
 </div>
 </div>
</body>
</html>